Build*
Logs/*.*

# Linux generated build files
Makefile*

# Windows generated build files
*.vsproj
*.sln
*.vcxproj
*.vcxproj.filters

# Macos generated build files
*.pbxproj
*.xcworkspacedata

# Valgrind generated debug files
vgcore*

# Currently uncompressed directories
Mage/Resources/Shaders*
Mage/Resources/Textures*

# User config folder
Config*

# Python created files
__pychache__*