# Build files
Build*

# Valgrind generated debug files
vgcore*

# My stuff
compile_commands.json # see the Scripts/GenerateCompileCommands.sh

# Compiled shaders
*.sprv

# autocomplete files
.cache
compile_commands*
